/* Modifier la couleur de fond du chatbot */
.vfrc-chat {
  background-color: #000000 !important;
}

/* Pour l'overlay complet, si votre chatbot utilise un mode 'overlay' */
.vfrc-chat--overlay {
  background-color: #000000 !important;
}

.vfrc-widget--chat {
    width: 600px;
}
